rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /managements/{mgmtId} {
      allow read, update, delete: if request.auth != null
        && request.auth.uid == resource.data.ownerUid;
      allow create: if request.auth != null
        && request.resource.data.ownerUid == request.auth.uid;

      match /{subcollection}/{docId} {
        allow read, write: if request.auth != null;
      }
    }
  }
}
